.first-name {  
	width: 1200px;
    height: 35px;
    margin: 10px;
}

.first-img{
	    margin: 12px;
	    position: relative;
	    display: flex;
}
.container{
	max-width: 1366px;
	width: 100%;
}

.child-div{
	padding: 0px 25px;
    margin: 20px auto;
}

.all-text{
	font-size: 24px;
    color: #707070;
    margin-left: 10px;
    margin-bottom: 20px;
}

.all-checkbox{
	display: flex;
	margin: 10px;
	font-size: 24px;
    color: #707070;
    margin-left: 10px;
}

.box{
	margin-bottom: 10px;
    margin-right: 53px;
}

.last-question{
	margin-top: 60px;
    margin-left: -16px;
}

.container3{
	width: 1187px;
	height: 185px;
}
/*width: 1236px;
    height: 185px;
    margin-top: 10px;
    margin-left: -8px;
    border: solid #707070;*/
.send{
	background-color: #103ADA;
    width: 130px;
    height: 27px;
    margin-top: 18px;
    margin-left: -8px;
    padding-top: 7px;
}

.send a{
	padding-top: 8px;
    padding-left: 46px;
    font-size: 15px;
    color: #FFFFFF;
    vertical-align: middle;
}

.img-text{
	font-size: 40px;
	color: #FFFAFA;
	position: absolute;
	top: 82px;
    left: 548px
}

input{
	    width: 32px;
    height: 32px;
    vertical-align: middle;
}

label{
	vertical-align: middle;
}

.page2-img{
	    font-size: 40px;
    color: #000000;
    vertical-align: middle;
    margin-top: 200px;
    margin-left: 100px;
}